.ReactMarkdown {
  background-color: #303841;
  width: 33vw;
  padding: 0.5rem;
  height: 46vh;
  border-radius: 4px;
  color: whitesmoke;
}

.EditorRoomIDTitle {
  display: flex;
  padding: 0;
}

.EditorAvatarStyle {
  height: 4vh;
  object-fit: contain;
  padding: 0
}

.ExecutionAreaStyle {
  background-color: #303841;
  width: 33vw;
  height: 28vh;
  display: flex;
  justify-content:flex-start;
  // margin-top: 1rem;
  //margin: 1rem 0 0 0 !important;

  div {
    color: whitesmoke;
  }
}

.EditorBtn {
  align-content: space-around;
  width: 33vw;

}

button.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.EditorBtnStyle.css-sghohy-MuiButtonBase-root-MuiButton-root {
  margin: 1rem;
}

.MuiGrid-root.MuiGrid-item.EditorBtn.css-13i4rnv-MuiGrid-root {
  padding-left: 13rem;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-5.css-1rz2i6f-MuiGrid-root {
  max-width: 60vw;
  padding: 0;
}

.copyArea{
  padding: 6px 2px !important;
  width: 25rem;
  background-color: #888;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root{
  margin-left: 12px;
}