.verificationMain {
    text-align: center;
    background-color: rgba(40, 39, 39, 0.895);
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 4px;

    h1 {
        margin-top: 0.5vh;
        padding-bottom: 2rem;
        border-bottom: 1px solid grey;
        color: green;
    }


    .contentArea {
        display: flex;
        justify-content: center;
        max-width: 4500px;

        .content {
            padding-top: 0.6vh;
            padding-left: 3vh;
            padding-right: 3vh;

            p {
                padding-top: 0.5rem;
                color: rgb(191, 191, 191);
                font-family: "JetBrains Mono", monospace, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            }
        }


    }

}