.bookTag {
    display: flex;
    justify-content: space-between;
}

// .send-email-button {
//     padding: 8px 12px;
//     border: 1px solid #ED2939;
//     border-radius: 2px;
//     font-family: Helvetica, Arial, sans-serif;
//     font-size: 14px;
//     color: #ffffff;
//     text-decoration: none;
//     font-weight: bold;
//     display: inline-block;
// }
/* CSS */
.remove-button {
    appearance: button;
    backface-visibility: hidden;
    background-color: #2b43c8;
    border-radius: 2px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 15px;
    line-height: 1.15;
    margin: 1px 0 1px 0;
    outline: none;
    overflow: hidden;
    padding-bottom: 3px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 24px;
    width: 100px;
    margin-left: 3px;

}

.new-receiver-button {
    appearance: button;
    backface-visibility: hidden;
    background-color: #1eac9f;
    border-radius: 2px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 15px;
    line-height: 1.15;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding-bottom: 3px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 24px;
    width: 120px;
    margin-left: 3px;
    margin-right: 13px;
    margin-bottom: 12px;
}