button.MuiButtonBase-root.Mui-disabled.MuiIconButton-root.Mui-disabled.MuiIconButton-colorInherit.MuiIconButton-sizeMedium.css-zylse7-MuiButtonBase-root-MuiIconButton-root{
  color: whitesmoke;
}

p#\:r3l\:{
  color: whitesmoke;
}

p#\:r3h\:{
  padding-top: 2px;
  color: whitesmoke;
}

p.MuiTablePagination-displayedRows.css-levciy-MuiTablePagination-displayedRows {
  padding-top: 6px;
  color: whitesmoke;
}

.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input{
  color: whitesmoke;
}

p#\:r2d\:{
  color: whitesmoke;
  padding-top: 6px;
}

p#\:r1b\: {
  color: whitesmoke;
  padding-top: 6px;
}

p#\:r2h\:{
  color: whitesmoke;
  padding-top: 6px;
}

p#\:r2n\: {
  color: whitesmoke;
  padding-top: 6px;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar{
  padding-top: 6px;
  color: whitesmoke;
}