@import "variables";
body {
    background: #78909c;
    font-family: "JetBrains Mono", monospace, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
    font-family: "JetBrains Mono", monospace, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h6 {
    font-family: "JetBrains Mono", monospace, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.dFlex {
    display: flex;
}

.flexGrow {
    flex: 1;
}

.question-data-grid-header {
    color: #ffffffa1;
    font-size: 17px;
    font-weight: bold;
}

.form-style {
    margin-left: 3px;
}

.question-info-email-style {
    padding-top: 4px;
    padding-bottom: 4px;
}

.grid-detail {
    margin-bottom: 16px;
}

.invisible {
    display: none;
}

.EditorArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: 70vh;
}

.QuestionAndExecution {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.EditorButtonGroup {
    display: flex;
}

.EditorButton {
    margin: 15px;
}

.EditorPage {
    color: white;
}

.ReactMarkdown {
    background-color: #0000003b;
    overflow-y: scroll;
    //height: fit-content;
    //width: 30vw;
    //margin-bottom: 40px;
}

.ExecutionRespond {
    height: 200px;
    width: 30vw;
    background-color: #0000003b;
}

code {
    background-color: #0000003b;
}

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-vyuv0p-MuiPaper-root-MuiAppBar-root{
    border-radius: 15px;
    margin: 1rem;
}