.addPaddingForGrid {
  padding-left: 30px;
}

.css-1j7utsl-MuiDataGrid-root .MuiDataGrid-columnHeader,
.css-1j7utsl-MuiDataGrid-root .MuiDataGrid-cell {
  padding: 0 30px !important;
}

//color : #323840