.card-area {
    margin: auto;
    width: 80%;
}

.card-container {
    background-color: #27253c;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
    color: #B3B8CD;
    padding: 0px 0 20px;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    overflow: hidden;

    h1 {
        border-bottom: 3px solid rgb(54, 54, 54)
    }

    .profile-area {
        display: flex;
        width: clamp(80px, 10vw, 160px);
        height: clamp(80px, 10vw, 160px);
        align-items: center;
        justify-content: center;

        img {
            border: 1px solid #C400D7;
            border-radius: 50%;
            padding: 7px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .rows {
        display: flex;
    }

    .header {
        display: flex;
        align-items: center;

        div {
            padding: 1rem;
            padding-top: 2rem;
            padding-left: 2rem;
        }
    }

    .details-area {
        width: 80%;
        height: auto;
    }
}

p.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root {
    header {
        border-bottom: 2px solid white;
        text-align: start;
        color: aqua
    }
}

p {
    text-align: start;
    margin-top: 5px;
}

.sub-area {
    border-bottom: 2px solid grey;
    padding-top: 0.8rem;
    width: 80%;
    font-weight: bold;
    color: wheat;
    padding-bottom: 5px;

    button {
        background-color: red;
    }
}


.button_completed {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 20px;
}

.button_pending {
    background-color: orange;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 20px;
}


p.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root {
    .sub-area {
        justify-content: space-between;
        display: flex;

        span {
            color: #f5deb3 !important;
            margin-right: 2.3rem;
        }
    }

    p {
        font-size: small;
        color: grey;
        margin-bottom: 0;
    }

    span {
        color: #c5b28e
    }
}

.MuiList-root.css-1xjkbrv-MuiList-root {
    div {
        color: #B3B8CD;
        font-size: 12px;
    }
}