@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Poppins:ital,wght@1,100&display=swap');

$JetBrains: 'JetBrains Mono', monospace;

// color
$white: #eceff1;
$dark: #101A29;
$theme: #1a237e;
$gridInfo: #263238;
